@using Chargify.MVC4.Helpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - (MVC4) Chargify Samples</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/custom.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap-responsive.min.css")" rel="stylesheet" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Fav and touch icons -->
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @RenderSection("head", required: false)
</head>
<body>
    <div id="wrap">
        <div class="page-header">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="#">Project name</a>
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                @Html.MenuItem("Home", "Index", "Home")
                                @Html.MenuItem("Pricing", "Pricing", "Home")
                                @Html.MenuItem("About", "About", "Home")
                                @Html.MenuItem("Contact", "Contact", "Home")
                            </ul>
                            <div class="pull-right">
                                @Html.Partial("_LoginPartial")
                            </div>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            @RenderBody()
        </div>
        <!-- /container -->
        <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="muted credit">MVC4 example courtesy of <a href="http://coderwall.com/kfrancis" target="_blank">Kori Francis</a> and <a href="http://www.chargify.com" target="_blank">Chargify</a>.</p>
      </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>